@font-face {
    font-family: bamberg;
    src: url(./assets/fonts/bamberg-serial-bold.ttf);
}

@font-face {
    font-family: haim;
    src: url(./assets/fonts/Haim\ Reloaded.ttf);
}

@font-face {
    font-family: miriam;
    src: url(./assets/fonts/Miriam\ Libre\ Bold.ttf);
}

* {
    direction: rtl;
}

.mainP {
    background-image: url(./assets/pictures/background.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#pele {
    height: 8vh;
    position: absolute;
    right: 0vh;
}

#mali {
    height: 8vh;
    position: absolute;
    right: 9vh;
}

#rabanut {
    height: 8vh;
    position: absolute;
    left: 8vh;
}

#mhal {
    height: 8vh;
    position: absolute;
    left: 0vh;
}

#headLine {
    position: absolute;
    top: 21vh;
    right: 16%;
    font-size: 5.5vmax;
    font-family: haim;
    color: aliceblue;
    text-shadow: -2px -1px 3px black;
}

#next {
    position: absolute;
    height: 6vh;
    bottom: 4vh;
    left: 4vw;
    z-index: 1;
}

#back {
    display: none;
    position: absolute;
    height: 6.5vh;
    bottom: 4vh;
    right: 4vw;
    z-index: 1;
}

.pages {
    display: none;
}

.info {
    background-image: url(./assets/pictures/blueBg.png);
    background-color: #a0cbdf;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0vw;
    top: 0vh;
    z-index: -1;
}

.title {
    position: relative;
    top: 9vh;
    text-align: center;
    font-size: 5.5vmax;
    font-family: haim;
    color: aliceblue;
    text-shadow: -4px 0px 7px black
}

#textP2 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 20vh;
    width: 83vw;
    right: 7vw;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#goodluck {
    position: absolute;
    font-family: 'haim';
    color: #991f24;
    bottom: 9vh;
    right: 30vw;
    font-size: 5vmax;
}

#textP3 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 20vh;
    width: 83vw;
    right: 7vw;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#options {
    position: absolute;
    bottom: -1vh;
    right: 21vw;
    height: 23vh;
}

#puzzle {
    position: absolute;
    right: 10vh;
    top: 41vh;
    height: 39vh;
}

#hand {
    position: absolute;
    height: 14vh;
    top: 12vh;
    left: 13vw;
}

#textP4 {
    position: absolute;
    font-family: miriam;
    font-size: 4vmax;
    top: 21vh;
    width: 74vw;
    right: 10vw;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#generlD {
    position: absolute;
    height: 18vh;
    width: 32vw;
    bottom: 40vh;
    right: 20vw;
}

.pieces {
    background-image: url(./assets/pictures/bg2.png);
    background-color: #a0cbdf;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0vw;
    top: 0vh;
    z-index: -1;
}

.header {
    position: absolute;
    top: 10vh;
    right: 21%;
    font-size: 14.5vmax;
    font-family: haim;
    color: aliceblue;
    text-shadow: -2px -1px 3px black;
}

#textg2 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 21vh;
    width: 83vw;
    right: 7vw;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#soliders {
    position: absolute;
    bottom: 2vh;
    right: 4vh;
    height: 17vh;
    z-index: -1;
}

#textg3 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 17vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#listH {
    position: absolute;
    top: 34vh;
    right: 3vw;
    font-size: 3.5vmax;
    font-family: haim;
    color: #991f24;
}

#listG3 {
    position: absolute;
    top: 40vh;
    right: 3vw;
    font-size: 3.5vmax;
    font-family: 'miriam';
    line-height: 0.8;
    color: #0b2c54;
}

#botTextg3 {
    position: absolute;
    bottom: 19vh;
    right: 3vw;
    text-align: center;
    font-size: 3vmax;
    font-family: haim;
    color: #991f24;
}

#textg4 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 23vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#t1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 24vh;
    text-align: center;
    font-size: 3vmax;
    font-family: haim;
    color: #991f24;
}

#t2 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    left: 50%;
    transform: translate(-50%);
    top: 27vh;
    color: #0b2c54;
    line-height: 1.5;
}

#t3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 35vh;
    text-align: center;
    font-size: 3vmax;
    font-family: haim;
    color: #991f24;
}

#t4 {
    position: absolute;
    font-family: miriam;
    font-size: 2.7vmax;
    top: 40vh;
    color: #0b2c54;
    line-height: 1.5;
    text-align: center;
}

#t5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 59vh;
    text-align: center;
    font-size: 3vmax;
    font-family: haim;
    color: #991f24;
}

#t6 {
    position: absolute;
    font-family: miriam;
    font-size: 2.7vmax;
    top: 64vh;
    color: #0b2c54;
    line-height: 1.5;
    text-align: center;
}

#textg6 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 19vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#textg7 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 17vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#textg8 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 24vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#nohalD {
    position: absolute;
    height: 18vh;
    width: 32vw;
    bottom: 40vh;
    right: 54vw;
}

#headn2 {
    position: absolute;
    top: 17vh;
    right: 4vw;
    font-size: 3.2vmax;
    font-family: haim;
    color: #991f24;
}

#textn2 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 21vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#listH2 {
    position: absolute;
    top: 56vh;
    right: 3vw;
    font-size: 3.5vmax;
    font-family: haim;
    color: #991f24;
}

#listN2 {
    position: absolute;
    top: 62vh;
    font-size: 3vmax;
    font-family: 'miriam';
    line-height: 0.8;
    color: #0b2c54;
}

#textn3 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 23vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#listH4 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 17vh;
    right: 6vw;
    color: #0b2c54;
    line-height: 1.5;
}

#listN4 {
    position: absolute;
    top: 43vh;
    right: 6vw;
    font-size: 3.5vmax;
    font-family: miriam;
    line-height: 0.8;
    color: #0b2c54;
}

#textn4 {
    position: absolute;
    top: 59vh;
    right: 3vw;
    font-size: 3vmax;
    font-family: haim;
    color: #991f24;
}

#listH5 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 40vh;
    right: 6vw;
    color: #0b2c54;
    line-height: 1.5;
}

#listh5 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 62vh;
    right: 6vw;
    color: #0b2c54;
    line-height: 1.5;
}

#listN5 {
    position: absolute;
    top: 25vh;
    right: 4vw;
    font-size: 3.4vmax;
    font-family: miriam;
    color: #0b2c54;
}

#textn5 {
    position: absolute;
    top: 18vh;
    right: 7vw;
    font-size: 3.5vmax;
    font-family: haim;
    color: #991f24;
}

#example {
    position: absolute;
    top: 62.2vh;
    right: 6vw;
    font-size: 3.2vmax;
    font-family: 'miriam';
    color: #991f24;
    z-index: 1;
    text-decoration: underline;
}

#careD {
    position: absolute;
    height: 18vh;
    width: 32vw;
    bottom: 21vh;
    right: 20vw;
}

#listC2 {
    position: absolute;
    top: 21vh;
    right: 7vw;
    font-size: 3.4vmax;
    line-height: 1.8;
    font-family: miriam;
    color: #0b2c54;
}

#header {
    position: absolute;
    top: 10vh;
    right: 18%;
    font-size: 14.5vmax;
    font-family: haim;
    color: aliceblue;
    text-shadow: -2px -1px 3px black;
}

#checkList {
    position: absolute;
    height: 27vh;
    bottom: 14vh;
    left: 5vw;
}

#textc3 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 23vh;
    text-align: center;
    color: #0b2c54;
}

#textBc3 {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 54vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}

#mirror {
    position: absolute;
    height: 27vh;
    bottom: 0vh;
    left: 5vw;
    z-index: -1;
}

#must {
    position: absolute;
    top: 54.2vh;
    right: 1.55vw;
    font-size: 3.2vmax;
    font-family: 'miriam';
    color: #991f24;
    z-index: 1;
    text-decoration: underline;
}

#textc4 {
    position: absolute;
    font-family: miriam;
    font-size: 2.7vmax;
    top: 23vh;
    text-align: center;
    color: #0b2c54;
}

#textBc4 {
    position: absolute;
    font-family: miriam;
    font-size: 2.7vmax;
    top: 52vh;
    text-align: center;
    color: #0b2c54;
    line-height: 1.5;
}
#exam{
    position: absolute;
    top: 52.2vh;
    right: 6.2vw;
    font-size: 2.7vmax;
    font-family: 'miriam';
    color: #991f24;
    z-index: 1;
    text-decoration: underline;
}
#textc5 {
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 25vh;
    text-align: center;
    color: #0b2c54;
}
#pic9{
    position: absolute;
    z-index: -1;
    height: 36vh;
    bottom: 5vh;
    right: 55vw;
}
#textc6{
    position: absolute;
    top: 18vh;
    right: 7vw;
    font-size: 3.5vmax;
    font-family: haim;
    color: #991f24;
}
#listC6 {
    position: absolute;
    top: 21vh;
    right: 3vw;
    font-size: 3.4vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
}
#textBc6{
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 56vh;
    text-align: center;
    color: #0b2c54;
}
#textc7{
    position: absolute;
    top: 21vh;
    right: 3vw;
    font-size: 3.7vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
}
#listC7 {
    position: absolute;
    top: 36vh;
    right: 4vw;
    font-size: 3.4vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
}
#pic13{
    position: absolute;
    height: 16vh;
    bottom: 22vh;
    right: 6vw;
}
#textc8{
    position: absolute;
    top: 23vh;
    right: 3vw;
    font-size: 3vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
}
#report{
    position: absolute;
    height: 32vh;
    bottom: 22vh;
    right: 15vw;
    z-index: -1;
}
#textBc8{
    position: absolute;
    font-family: miriam;
    font-size: 3vmax;
    top: 77vh;
    text-align: center;
    color: #0b2c54;
}
#textc9{
    position: absolute;
    top: 23vh;
    right: 3vw;
    font-size: 3vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
}
#pic14{
    position: absolute;
    height: 25vh;
    bottom: 17vh;
    right: 14vw;
}
#t1n {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 18vh;
    text-align: center;
    font-size: 3.5vmax;
    font-family: haim;
    color: #991f24;
}

#t2n{
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    left: 50%;
    transform: translate(-50%);
    top: 22vh;
    color: #0b2c54;
    line-height: 1.5;
    width: 88vw;
    text-align: center;
}

#t3n {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 37vh;
    text-align: center;
    font-size: 3.5vmax;
    font-family: haim;
    color: #991f24;
}

#t4n {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 42vh;
    color: #0b2c54;
    line-height: 1.5;
    text-align: center;
}

#t5n {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 53vh;
    text-align: center;
    font-size: 3.2vmax;
    font-family: haim;
    color: #991f24;
}

#t6n {
    position: absolute;
    font-family: miriam;
    font-size: 3.5vmax;
    top: 57vh;
    color: #0b2c54;
    line-height: 1.5;
    text-align: center;
}
#t7n {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 68vh;
    text-align: center;
    font-size: 3.5vmax;
    font-family: haim;
    color: #991f24;
}

#t8n {
    position: absolute;
    font-family: miriam;
    font-size: 3.2vmax;
    top: 72vh;
    color: #0b2c54;
    line-height: 1.5;
    text-align: center;
}
#searchD{
    position: absolute;
    height: 18vh;
    width: 32vw;
    bottom: 21vh;
    right: 54vw;
}
#header2{
    position: absolute;
    top: 10vh;
    right: 10%;
    font-size: 14.5vmax;
    font-family: haim;
    color: aliceblue;
    text-shadow: -2px -1px 3px black;
}
#texts2{
    position: absolute;
    top: 23vh;
    right: 3vw;
    font-size: 3vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
}
#heads3{
    position: absolute;
    top: 19vh;
    font-size: 4vmax;
    line-height: 1.2;
    font-family: haim;
    color: #991f24;
    width: 59vw;
    left: 50%;
    transform: translate(-50%);
}
#texts3{
    position: absolute;
    top: 29vh;
    right: 1vw;
    font-size: 4vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
    text-align: center;
}
#look{
    position: absolute;
    height: 15vh;
    bottom: 18vh;
    right: 6vw;
    z-index: -1;
}
#lookG{
    position: absolute;
    height: 17vh;
    bottom: 18vh;
    right: 62vw;
    z-index: -1;
}
#heads4{
    position: absolute;
    top: 23vh;
    right: 8vw;
    font-size: 5vmax;
    line-height: 1.2;
    font-family: haim;
    color: #991f24;
    width: 59vw;
}
#texts4{
    position: absolute;
    top: 30vh;
    right: 1vw;
    font-size: 4.5vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
    text-align: center;
}
#graph{
    position: absolute;
    height: 27vh;
    bottom: 13vh;
    right: 21vw;
    z-index: -1;
}
#heads5{
    position: absolute;
    top: 23vh;
    right: 8vw;
    font-size: 5vmax;
    line-height: 1.2;
    font-family: haim;
    color: #991f24;
}
#texts5{
    position: absolute;
    top: 30vh;
    right: 1vw;
    font-size: 4.5vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
    text-align: center;
}
#circles{
    position: absolute;
    height: 27vh;
    bottom: 13vh;
    right: 21vw;
    z-index: -1;
}
#headT{
    position: absolute;
    top: 13vh;
    right: 4vw;
    font-size: 4vmax;
    line-height: 1.2;
    font-family: haim;
    color: #991f24;
}
@keyframes infoTest{
    from{
        font-size: 0.1vmax;
        opacity: 0;
    }
    to{
        font-size: 3vmax;
        opacity: 1;
    }
}
#textT{
    position: absolute;
    top: 28vh;
    font-size: 3vmax;
    line-height: 1.2;
    font-family: miriam;
    color: #0b2c54;
    text-align: center;
    animation: infoTest 5s linear;
}
#hamsec{
    display: none;
    position: absolute;
    bottom: 10vh;
    right: 23vh;
    font-size: 4vmax;
    font-family: miriam;
    color: #0b2c54;
    border: 9px solid;
    border-radius: 17%;
}
#note1{
    position: absolute;
    top: 23vh;
    right: 11vw;
}
#name{
    height: 2vh;
    width: 23vw;
    position: absolute;
    top: 34vh;
    right: 16vw;
    background: transparent;
}
#note2{
    position: absolute;
    top: 23vh;
    right: 55vw;
}
#phone{
    height: 2vh;
    width: 23vw;
    position: absolute;
    top: 34vh;
    right: 60vw;
    background: transparent;
}
#note3{
    position: absolute;
    top: 52vh;
    right: 11vw;
}
#place{
    height: 2vh;
    width: 23vw;
    position: absolute;
    top: 64vh;
    right: 16vw;
    background: transparent;
}
#note4{
    position: absolute;
    top: 52vh;
    right: 55vw;
}
#job{
    height: 2vh;
    width: 23vw;
    position: absolute;
    top: 64vh;
    right: 60vw;
    background: transparent;
}
#toTest{
    position: absolute;
    bottom: 10vh;
    right: 23vh;
    font-size: 4vmax;
    font-family: miriam;
    color: #0b2c54;
    border: 9px solid;
    border-radius: 17%;
}

#q1A1{
    position: absolute;
    top: 29vh;
    right: 2vw;
    font-size: 4vmax;
}
#q1A2{
    position: absolute;
    top: 37vh;
    right: 2vw;
    font-size: 4vmax;
}
#q1A3{
    position: absolute;
    top: 51vh;
    right: 2vw;
    font-size: 4vmax;
}
#q1A4{
    position: absolute;
    top: 64vh;
    right: 2vw;
    font-size: 4vmax;
}
#haba{
    display: none;
    position: absolute;
    bottom: 10vh;
    right: 23vh;
    font-size: 4vmax;
    font-family: miriam;
    color: #0b2c54;
    border: 9px solid;
    border-radius: 17%;
}
#headTest{
    position: absolute;
    font-size: 4vmax;
    top: 10vh;
    width: 74vw;
    left: 50%;
    transform: translate(-50%);
    color: #8fc8e3;
    text-shadow: -6px 1px 3px black;
}
.textQ1{
    position: absolute;
    top: 17vh;
    font-size: 3.5vmax;
    font-family: miriam;
    color: #0b2c54;
    left: 50%;
    transform: translate(-50%);
    width: 61vw;
    text-align: center;
}
#q2A1{
    position: absolute;
    top: 31vh;
    right: 2vw;
    font-size: 4vmax;
}
#q2A2{
    position: absolute;
    top: 41vh;
    right: 2vw;
    font-size: 4vmax;
}
#q2A3{
    position: absolute;
    top: 51vh;
    right: 2vw;
    font-size: 4vmax;
}
#q2A4{
    position: absolute;
    top: 62vh;
    right: 2vw;
    font-size: 4vmax;
}
.q3A1{
    position: absolute;
    top: 31vh;
    right: 2vw;
    font-size: 4vmax;
}
.q3A2{
    position: absolute;
    top: 41vh;
    right: 2vw;
    font-size: 4vmax;
}
.q3A3{
    position: absolute;
    top: 51vh;
    right: 2vw;
    font-size: 4vmax;
}
.q3A4{
    position: absolute;
    top: 62vh;
    right: 2vw;
    font-size: 4vmax;
}
#date{
    position: absolute;
    top: 13vh;
    right: 2vw;
    font-size: 4vmax;
}
#time{
    position: absolute;
    top: 22vh;
    right: 2vw;
    font-size: 4vmax;
}
#wrong{
    display: none;
    position: absolute;
    top: 21vh;
    font-size: 3.5vmax;
    font-family: miriam;
    color: #0b2c54;
    left: 50%;
    transform: translate(-50%);
    width: 65vw;
    text-align: center;
}
#right{
    display: none;
    position: absolute;
    top: 33vh;
    font-size: 3.5vmax;
    font-family: miriam;
    color: #0b2c54;
    left: 50%;
    transform: translate(-50%);
    width: 65vw;
    text-align: center;
}
#takePic{
    display: none;
    position: absolute;
    top: 48vh;
    right: 5vw;
    font-size: 3.5vmax;
    font-family: miriam;
    color: #0b2c54;
}